<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Declaración del botón animado para Redes Sociales -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" href="../css/estilos.css">

    <title>Contacto</title>
    
</head>
<body>
    <header>
        <!-- Contenido de la cabecera y el menu <nav>. -->

            <!-- Imágenes de la cabecera. -->
            <div>
                <img src="../img/P1.png" id="img_header" alt="Imagen de cabecera" title="Imagen de cabecera"></a>
            </div>

            <nav>
                <!-- Div que contiene el menú. -->
                <div class="div_menu">
                    <span class="botonin">
                        <a href="../index.html" class="div_menu">Índice</a>
                    </span>
                    <span class="botonin">
                        <a href="../views/productos.html" class="div_menu">Productos</a>
                    </span>
                    <span class="botonin">
                        <a href="../views/presupuesto.html" class="div_menu">Presupuesto</a>
                    </span>
                    <span class="botonin active">
                        <a href="#" class="div_menu">Contacto</a>
                    </span>
                </div>
            </nav>
    </header>
    <section>
        <!-- Div que tiene el contenido de la página del contacto. -->
        <div class="div_seccion_principal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1244.325818338797!2d-0.8788828184942126!3d41.6564305738235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc612fb8b3149165!2sPlaza+del+Pilar!5e0!3m2!1ses!2ses!4v1549966909130" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <article>
                    <div id=""><h1>Dirección de la empresa</h1></div>
                <!-- Contenido con la dirección de la empresa. -->
                <span> 
                    C/ Diego Mina, 8 5ºC – 14014 Córdoba, Andalucía, España
                </span>
            </article>
        </div>
    </section>
    <footer>
        <!-- Contenido del pié de la página. -->
        
        <!-- Div que contiene el pié de página. -->
        <div id="div_footer">
            <!-- Link donde acceden los botones del footer. -->
            <section class="buttons">
                <a href="https://facebook.com" class="fa fa-facebook"></a>
                <a href="https://twitter.com" class="fa fa-twitter"></a>
                <a href="https://instagram.com" class="fa fa-instagram"></a>
                <a href="https://linkedin.com" class="fa fa-linkedin"></a>
            </section>
            :: Copyright 2023 :: Painting House C/ Fernando II S/N :: <a href="../views/aviso_legal.html" target="_blank" rel="noopener noreferrer">Aviso legal</a> :: Todos los derechos reservados ::
        </div>
    </footer>
</body>
</html>